@charset "UTF-8";
.back {
  height: 3.8rem;
  line-height: 3.8rem;
  width: 3.8rem;
  border-radius: 50%;
  background: #000;
  position: fixed;
  top: 4.5rem;
  left: .5rem;
  color: #fff; }

  .back a{

    color:#fff;

    display: inline-block;
    text-decoration: none;
  }
  .back:before {
    content: "";
    display: block;
    width: .8rem;
    height: .8rem;
    border-left: .2rem solid #fff;
    border-bottom: .2rem solid #fff;
    float: left;
    position: relative;
    top: 1.3rem;
    left: .6rem;
    transform: rotate(45deg);
    margin-right: .4rem; }

.p_content .p_info {
  background: #fff;
  margin-top:100px;
}
.p_content .p_info img {
    width: auto;  
    height: auto;  
    max-width: 100%;  
    max-height: 100%;  
}
.p_content .p_info h2 {
    padding: .2rem .5rem; 
}
.p_content .p_info .price {
    padding: .2rem .5rem;
    color: red;
}

